<!DOCTYPE html>
<html>
<head>
  <title>Rick and morty</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rick_and_morty/application", media: "all" %>
  <%= javascript_include_tag "rick_and_morty/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
